<div>
  <%= form_with model: post, local: true do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, id: "Title", placeholder: "スポット名を入力してください", autocomplete: "off" %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address, id: "Address", placeholder: "住所を入力してください", autocomplete: "off" %>
    </div>

    <%= f.submit %>
  <% end %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&libraries=places&callback=initialize"></script>
